body {
    margin: 0 ;
    background-color:rgb(199, 175, 124);
}
.navegacion1{
    width: 1000px;
    margin: 60px auto;
    background: none;

    
}
.navegacion1 ul {
    list-style: none;

}
.menu1 > li{
    position: center;
    display: inline-block;


}

.menu1 > li > a{
    display:center;
    padding: 55px 20px;
    color: #000000 ;
    font-family: 'Helvetica';
    font-size: 30px;
    text-decoration:  none;

}

.menu1 li a:hover {
    color: #ce7d35;
    transition: all 0.3s;
}


.titulo{
    margin: 0 auto;
    font-size: 40px;
}


.container{
    width: 400px;
    margin: 0 auto;
}
section article {
    transition: box-shadow 0.3s ease;
    background-color: white;
    margin: 1rem 0 ;
    border-radius: 0.5 rem;
    padding: 0.25rem 0;
    cursor: pointer;

}
section article:hover 
{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0,0, 0.3);
    }
section article h2, section article p
{
    margin: 1rem;

}

footer
{
    background-color: #363636;
    padding: 4rem;
    color: white;

}

footer section
{
    float: right;
}

footer p {
    margin: 0;
}
footer a {
transition: color 0.3s ease;
    color: white;
    text-decoration: none;


}

footer a:hover
{
    color: cornflowerblue;
}
